<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.xusenme.dao.UserDao">


    <select id="getNameById" parameterType="com.xusenme.model.User" resultType="com.xusenme.model.User">
		SELECT * FROM user WHERE ID = #{id}
	</select>

    <select id="getUserByEmail" parameterType="String" resultType="com.xusenme.model.User">
		select * from user where email = #{email}
	</select>

    <insert id="createUser" parameterType="com.xusenme.model.User" >
		insert into user(id,username,password,email,size) values(#{id},#{username},#{password},#{email},#{size})
	</insert>

	<update id = "active" parameterType="java.lang.String">
		update user set active = 1 where id = #{id}
	</update>

	<select id="getUserByEmailAndPassword" parameterType="com.xusenme.controller.vo.UserVo" resultType="com.xusenme.model.User">
		SELECT * FROM user WHERE email=#{email} and password=#{password}
	</select>

</mapper>
